{% extends 'layout.html' %}

{% block body %}
	<h1>About Us</h1>
	<p>The DEMO conference is a series of technology-focused business conferences in which pre-selected companies and entrepreneurs launch new products and services.[1][2] Produced by IDG, DEMO seeks to identify and promote new technology with the potential to solve big problems with careful selection and coaching. Products launched at DEMO include: Salesforce.com, TiVo, VMware, Evernote, E*Trade, WebEx and Fusion-io.[3] DEMO Conferences are held under the names DEMO Enterprise, DEMO Africa, DEMO China, DEMO Brazil, DEMO Asia (Vietnam), DEMO Europe (Russia), DEMO Tour, and DEMO Fall.[4]

	In 1990, Stewart Alsop II realized he was more intrigued by the one-on-one demonstrations of coming technologies conducted in hallways and hotel rooms during the off hours during technology conferences.[5] This prompted Alsop to found the first DEMO Conference in 1991.

	The conference draws media attention for its emerging technologies.[6] At the DEMOSpring 2010 Conference, media attendees included Business Week, CBS, Forbes, LA Times, Popular Science, USA Today, and The Wall Street Journal.[7] Entrepreneurs launching their products and services often cite publicity as a reason for choosing to pitch at DEMO.[8] Additional conference attendees include venture capitalists, angels and other investors, corporate development officers, and entrepreneurs.[9]

	DEMO Conferences also feature prominent entrepreneurs and technology professionals as speakers and panelists at each event. Previous speakers include [10] Twitter cofounder and Square CEO Jack Dorsey, SAP CEO Bill McDermott, LinkedIn CEO Jeff Weiner, Hewlett-Packard CTO Phil McKinney, and Google Enterprise President Dave Girouard.</p>
{% endblock %}